








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>2014 Taiwan Technical Leadership Exchange - Knowledge sharing</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Listed in Wiki:<a href="https://w3-connections.ibm.com/wikis/home?lang=zh-cn#!/wiki/Wff1254458b28_47dc_b76b_516d89524579/page/2014%20Taiwan%20Technical%20Leadership%20Exchange">2014 Taiwan TLE Introduction</a><br>
<b><%= __('EW0045')%></b>  <li>
all GSSC members<br>
<b><%= __('EW0046')%></b><li>
<a href="https://w3-connections.ibm.com/wikis/home?lang=zh-cn#!/wiki/Wff1254458b28_47dc_b76b_516d89524579/page/2014%20Taiwan%20Technical%20Leadership%20Exchange">2014 Taiwan TLE Introduction</a><li>
<b>Duration:</b>  2.5 hour
</div>
</div>
</div>
</div>