








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>Introduction of Unicode bidi algorithm and bidi testing in GVT</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Vincent Chen<br>
<b><%= __('EW0045')%></b>  <li>
Test Lead and TSE and PM who are interested to understand more about bidi<br>
<b><%= __('EW0046')%></b><li>
Introduce the basic of bidi text in software environment including  base text direction, GUI mirroring, etc<br><li>
Introduce what should be tested for bidi enablement in GVT and share 3 new bidi test area in GVT guide and some special case.<br>
<b>Duration:</b> 
1.5 hours
</div>
</div>
</div>
</div>