
<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/aboutUs">About US</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>Contact US</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">


	<table cellpadding="0" cellspacing="0" border="0">
	   <tr>
		<td class="items2">
	   
  		  <!-- <img src="./images/../images/contactpeople.gif"  width="160px" height="180px" style="margin:0px 0px 2px 2px;" />

		   </td>
		<td class="items2">

			  		<!-- <span id="contitle">Services</span><br>
					If you have any globalization request, please send it by using <a href="https://gbms.raleigh.ibm.com/gbms/index.jsp">GBMS DOU Tool</a>. Please refer to <a href="DoUTool.jsp">GBMS DOU tool reference</a> page for instruction. <br><br>Or you may contact following managers for help: <br/>
					  <ul id="ulcontent12px">
					    <li>For Lotus, Websphere, and IS   product related services, contact <a href="http://w3.ibm.com/jct03019wt/bluepages/simpleSearch.wss?searchBy=Name&location=All+locations&searchFor=Sophia+Tseng"><U>Sophia Tseng/Taiwan/IBM</U></a>. </li>
					    <li>For Tivoli, Rational, ECM, and extended product related services,  contact <a href="http://w3.ibm.com/jct03019wt/bluepages/simpleSearch.wss?searchBy=Name&location=All+locations&searchFor=Claudia+CHIANG"><U>Claudia CHIANG/Taiwan/IBM</U></a>. </li>
					
			          </ul>
			  <p></p>-->
			   <span id="contitle">Site Maintenance</span>
			    <ul id="ulcontent12px">
			       <li>For any question regarding GSSC Online Education , please contact <a href="http://w3.ibm.com/bluepages/searchByName.wss?task=viewrecord&index=2&uid=920954672"><U>Chong AG Liu/China/IBM</U></a>.</li>
			    </ul>
	   
		   </td>
	</tr>
	
</table>

<br />
<p></p>
   


</div></div></div></div>



