








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>Continuous Delivery of Translations using Jenkins and UrbanCode for Bluemix Applications</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Steven Atkin, Terry C Tong<br>
<b><%= __('EW0045')%></b>  <li>
ALL<br>
<b><%= __('EW0046')%></b><li>
To better support IBM's transition to continuous delivery the globalization team has been making changes to IBM's product information translation process and tools. These changes now enable development teams to have greater flexibility in both creating translation plans and scheduling translations. The new tooling supports tighter integration with build processes and DevOps. We will be demonstrating how the new translation process and tools can be used to schedule frequent translation deliveries. We will also show how translation requests can be automatically packaged and how returned translated files can be easily integrated into DevOps processes. The demos will use BlueMix, IBM DevOps, and UrbanCode Deploy to show how easy it is to provide translations for a SaaS application that uses continuous delivery.
<b>Duration:</b> 
1 hour
</div>
</div>
</div>
</div>