<div>
<b><%= __('EW0044')%></b><li>
Bruce Liao,Kun Zhou,Jian Shu Du,Xue Bo Tang,Thomas Chou<br>
<b><%= __('EW0045')%></b>  <li>
All<br>
<b><%= __('EW0046')%></b><li>
(1) Projects and UA DBs enhancements
UA DB enhancement
FMS DB enhancement
Integration of the test case creation tool
How to fix for RTC Sync Failure<li>
(2) GDC DBs enhancements
</div>