<!-- FOOTER_BEGIN -->
<!-- <div id="ibm-footer-module">

</div> -->
<div id="ibm-related-content">
	<div class="ibm-columns">	
		<div class="ibm-col-6-1" style="width: 200px; ">
						
			<h3>Globalization and Translation</h3>
						
						
			<ul class="ibm-bullet-list">
						
				<li><a class="ibm-feature-link" href="http://w3-03.ibm.com/globalization/page/982" target=_blank>IBM Globalization Central</a></li>
								
				<li><a class="ibm-feature-link" href="http://w3-03.ibm.com/globalization/page/4248" target=_blank>Globalization White Paper</a></li>
								
				<li><a class="ibm-feature-link" href="http://w3-03.ibm.com/globalization/page/1070" target=_blank>IBM Worldwide Holidays</a></li>
								
				

			</ul>
						
		</div>
					
		<div class="ibm-col-6-1"  style="width: 200px; ">
      		<h3>&nbsp;</h3>						
			<ul class="ibm-bullet-list">
			
			    <li><a class="ibm-feature-link" href="http://w3.ibm.com/ibm/resource/swg_cdl_index.html" target=_blank>China Development Laboratory</a></li>
								
				<li><a class="ibm-feature-link" href="http://w3.ospf.cn.ibm.com/wps/portal/!ut/p/c1/04_SB8K8xLLM9MSSzPy8xBz9QJ_89PTUFP_SEv2CdEVFALCPJr8!/" target=_blank>CDL Operation Service Portal</a></li>
																	
			</ul>
		</div>
		
		<div class="ibm-col-6-1"  style="width: 200px; ">
      		<h3>&nbsp;</h3>						
			<ul class="ibm-bullet-list">
																
				<li><a class="ibm-feature-link" href="https://tools.raleigh.ibm.com/globalization/" target=_blank>Globalization Wizard Portal</a></li>
								
				<li><a class="ibm-feature-link" href="https://gbms.raleigh.ibm.com/gbms/login.jsp" target=_blank>GBMS</a></li>
			</ul>
		</div>
					
					
		<div class="ibm-col-6-1"  style="width: 200px; ">
			<h3>GSSC specific</h3>
						
			<ul class="ibm-bullet-list">
								
				<li><a class="ibm-feature-link" href="https://w3-connections.ibm.com/communities/service/html/communityview?communityUuid=5a548802-e666-40d2-b99d-7ff34d176c63" target=_blank>GSSC Workgroup Collabration</a></li>
									
			</ul>
						
		</div>
	
	</div>
</div>
			
<div id="ibm-footer">
	<h2 class="ibm-access">Footer links</h2>
	<div class="ibm-col-6-1">
		<ul>
			<li><img src="/img/mailbox.gif" border="2" onClick="checkSubmit()" /></li>
		</ul>
	</div>			
	<div class="ibm-col-6-1">
		<ul>
      		<h3>&nbsp;</h3>						
			<li><a href="http://gssc.ibm.com/contactus.jsp">Contact Us</a></li>
		</ul>
	</div>			
	<div class="ibm-col-6-1">
		<ul>
			<li><a href="http://w3.ibm.com/w3/info_terms_of_use.html">Terms of use</a></li>
		</ul>
	</div>			
</div>
<!-- FOOTER_END -->