








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>G11N Tools Awards and RAM introduction</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Austin and Paul<br>
<b><%= __('EW0045')%></b>  <li>
PM and Test leads<br>
<b><%= __('EW0046')%></b><li>
G11N Tools Adaption Award Contest is going to launch from Sept. 5, 2014 on the whole new G11N Tools Repository 2.0!
This session will introduce the new G11N Tools Repository 2.0 and the details of the Tools Adaption Award Contest. We will provide tips on how to identify suitable tools for project execution, share experience, improve project productivity and WIN AWARD PRIZE!
<li>
<b>Duration:</b>  1 hours
</div>
</div>
</div>
</div>