








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>GB18030 Compliance Test</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Zhao Xiao Lin; Zhou Li<br>
<b><%= __('EW0045')%></b>  <li>
All Bluemix members and GSSC members who are interested in<br>
<b><%= __('EW0046')%></b><li>
What is GB18030 standard? What should you do if the product need to go through GB18030 Compliance process? Here we would share you all the stories for GB18030 Review process and hit the focus on the problems you might run into.
<li>
<b>Duration:</b> 1 hours
</div>
</div>
</div>
</div>