				  <ul id="ulcontent14px">	
				<b>GVT&TVT Education</b>
					<table class="tbstyle">
					      <tr>
					    <td width="800"><span id="subcontitle">GVT</span></td>
						 <td width="30%"><span id="subcontitle">TVT</span></td>
						 <td width="800px"><span id="subcontitle">Others</span></td>
						 </tr>


					      <tr valign="top">
					    <td >
						 	
								<UL id="ulcontentplan">
								<% if(records["gvtEducation"]==undefined) records["gvtEducation"]=0 %>
					              <li>GVT Process<a href="/gvtEducation"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gvtEducation"]%>)</font></li>

								  </UL>
							
						</td>
					    <td >
						 
								 <UL id="ulcontentplan">
								 <% if(records["tvtProcess"]==undefined) records["tvtProcess"]=0 %>
					              <li>TVT Process<a href="/tvtProcess"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["tvtProcess"]%>)</font></li>

					            </UL>
						
						</td>
						<td >
						   
							<UL id="ulcontentplan">
							<% if(records["uaTools"]==undefined) records["uaTools"]=0 %>
					              <li>UA Tools<a href="/uaTools"><img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["uaTools"]%>)</font></li>

					             </UL>
						</td>
						
					  </tr>
					  
					     </td>
					 </tr>
					 
					  </table>
				
			</ul>	