				  <ul id="ulcontent14px">	
				<b>Others</b>
					<table class="tbstyle">
					      <tr>
					    <td width="800"><span id="subcontitle">GVT</span></td>
						 <td width="30%"><span id="subcontitle">TVT</span></td>
						 <td width="800px"><span id="subcontitle">Bluemix</span></td>
						 </tr>


					      <tr valign="top">
					    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["gvtEducation"]==undefined) records["gvtEducation"]=0 %>
					              <li><a href="/gvtEducation">GVT Process<img src="/img/video.jpg" class="img-rounded"></a></li>
					              		</ol>
								  </UL>
							
						</td>
					    <td >
						 
								 <UL id="ulcontentplan">
								 <ol style="margin-left:0px">
								 <% if(records["tvtProcess"]==undefined) records["tvtProcess"]=0 %>
					              <li><a href="/tvtProcess">TVT Process<img src="/img/video.jpg" class="img-rounded"></a></li>

					              <% if(records["uaTools"]==undefined) records["uaTools"]=0 %>
					              <li><a href="/uaTools">UA Tools<img src="/img/video.jpg" class="img-rounded"></a></li>
					              </ol>
					            </UL>
						
						</td>
						<td >
						   
							<UL id="ulcontentplan">
							<ol style="margin-left:0px">
							<% if(records["bluemix_demo"]==undefined) records["bluemix_demo"]=0 %>
					              <li><a href="/bluemix_demo">Bluemix Demo<img src="/img/video.jpg" class="img-rounded"></a></li>
					             </ol>
					             </UL>
						</td>
						
					  </tr>
					  
					     </td>
					 </tr>
					 
					  </table>

					  <table class="tbstyle">
					      <tr>
					    <td width="800"><span id="subcontitle">DevOps Series</span></td>
						 <td width="30%"><span id="subcontitle"></span></td>
						 <td width="800px"><span id="subcontitle"></span></td>
						 </tr>


					      <tr valign="top">
					    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["continuous_delivery_of_translations"]==undefined) records["continuous_delivery_of_translations"]=0 %>
					              <li><a href="/continuous_delivery_of_translations">Continuous Delivery of Translations using Jenkins and UrbanCode for Bluemix Applications<img src="/img/video.jpg" class="img-rounded"></a></li>
					              		</ol>
								  </UL>
							
						</td>
					    <td >
						 

						
						</td>
						<td >

						</td>
						
					  </tr>
					  
					     </td>
					 </tr>
					 
					  </table>
				
			</ul>	