				  <ul id="ulcontent14px">	
				<b>GVT&TVT Education</b>
					<table class="tbstyle">
					      <tr>
					    <td width="800"><span id="subcontitle">GVT</span></td>
						 <td width="30%"><span id="subcontitle">TVT</span></td>
						 <td width="800px"><span id="subcontitle">Others</span></td>
						 </tr>


					      <tr valign="top">
					    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["gvtEducation"]==undefined) records["gvtEducation"]=0 %>
					              <li><a href="/gvtEducation">GVT Process<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["gvtEducation"]%>)</font></li>
					              		</ol>
								  </UL>
							
						</td>
					    <td >
						 
								 <UL id="ulcontentplan">
								 <ol style="margin-left:0px">
								 <% if(records["tvtProcess"]==undefined) records["tvtProcess"]=0 %>
					              <li><a href="/tvtProcess">TVT Process<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["tvtProcess"]%>)</font></li>
					              </ol>
					            </UL>
						
						</td>
						<td >
						   
							<UL id="ulcontentplan">
							<ol style="margin-left:0px">
							<% if(records["uaTools"]==undefined) records["uaTools"]=0 %>
					              <li><a href="/uaTools">UA Tools<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["uaTools"]%>)</font></li>
					             </ol>
					             </UL>
						</td>
						
					  </tr>
					  
					     </td>
					 </tr>
					 
					  </table>
				
			</ul>	