<div>
<b><%= __('EW0044')%></b><li>
Alex Liu<br>
<b><%= __('EW0045')%></b>  <li>
TVT Leads and PMs<br>
<b><%= __('EW0046')%></b><li>
What are the changes of GVT in Continuous Delivery process? And what are the advantages and losses to adopt these changes?
</div>