








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>How to Write Well-conveived Technical Documentation</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Jie NB Jiang<br>
<b><%= __('EW0045')%></b>  <li>
Anyone who interested in it<br>
<b><%= __('EW0046')%></b><li>
The session will include the following aspects:
Desin Doc<li>
Test Case<li>
Email<li>
Tips for Writing Technical Documentation<li>
Group Discussion<li>
<b>Duration:</b>  1 hour
</div>
</div>
</div>
</div>