<div>
<b><%= __('EW0044')%></b><li>
Jie NB Jiang<br>
<b><%= __('EW0045')%></b>  <li>
Anyone who interested in it<br>
<b><%= __('EW0046')%></b><li>
The session will include the following aspects:
Desin Doc<li>
Test Case<li>
Email<li>
Tips for Writing Technical Documentation<li>
Group Discussion<li>
<b>Duration:</b>  1 hour
</div>