
<form class="form-horizontal" method="post">
  <fieldset>
    <legend><%= __('EW0002')%></legend>
    <div class="control-group">
      <label class="control-label" for="username"><%= __('EW0010')%></label>
      <div class="controls">
        <input type="text"  style="height:30px" class="input-xlarge" id="username" name="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password"><%= __('EW0011')%></label>
      <div class="controls">
        <input type="password" style="height:30px" class="input-xlarge" height="100" id="password" name="password">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><%= __('EW0002')%></button>
    </div>
  </fieldset>
</form>
