<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
<!--           <li><a href="">aaaa</a></li>
          
          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
          </ul> 
<h1>Mission</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- CONTENT_BODY -->

<div id="ibm-content-body">
<div id="ibm-content-main">
<ul style="list-style-type:none;font:Arial, Helvetica, sans-serif;font-size:12px;">			  		
					2014 Objective&Plan
 <p></p>

<br />
<p></p>
<p align="center">
		 - Last updated: May 30, 2012
</p>	   
			   
</div></div>


<div class="row placeholders">
<img src="/img/mission1.jpg" class="img-rounded">
<img src="/img/mission2.jpg" class="img-rounded">
</div>
</div>
</div>