<ul id="ulcontent14px">			
				<b>Monthly Session</b>
				<!-- New table start -->
							   
				 <table class="tbstyle">
				      <tr>
				    <td width="800"><span id="subcontitle">05/30 14:00-16:00</span></td>
					 <td width="30%"><span id="subcontitle">06/27 14:00-16:00</span></td>
					 <td width="800px"><span id="subcontitle">07/25 14:00-16:00</span></td>
					 </tr>


				      <tr valign="top">
				    <td >
					 	
							<UL id="ulcontentplan">
				              <li><a href="/speed_kpi_definition_and_gso_project_data_collection">Speed KPI definition and GSO Project Data Collection</li>
							  <li><a href="/defect_creation_tips">Defect Creation Tips</li>
							  </UL>
						
					</td>
				    <td >
					 
							 <UL id="ulcontentplan">
				              <li><a href="/tips_for_better_doing_tvt_go_nogo_accessment">Tips for better doing TVT Go/No-Go Assessment</li>
							  <li><a href="/gvt_ta_example_sharing">GVT TA example sharing</li>
				            </UL>
					
					</td>
					<td >
					   
						<UL id="ulcontentplan">
				              <li><a href="/gvt_in_cd_Process">GVT in CD process</li>
							  <li><a href="/dbs_enhancements">2014 1H DBs enhancements</li>
							  <li><a href="/demo_testcase_creation_tool">Demo_TestCaseCreationTool</li>
				             </UL>
					</td>
					
				  </tr>
				  
				     <tr>
				    <td ><span id="subcontitle"> 08/08 13:00-15:00</span>	</td>
					 <td><span id="subcontitle"> 08/15 14:00-16:00 </span>	</td>
					 <td><span id="subcontitle">Incoming</span>		 </td>
					 </tr>
					 
				  <tr  valign="top">
				    <td>
					
					  <UL id="ulcontentplan">
				              <li><a href="/gb18030">GB18030</li>
							  <li><a href="/how_to_write_wellconveived_technical_documentation">How to Write Well-conveived Technical Documentation</li>
							
							</UL>
						</td>
						 <td>
					<UL id="ulcontentplan">
				              <li><a href="/translation_qality_process">Translation Quality Process</li>
							  <li><a href="/sniff_gvt_for_bluemix">Sniff GVT for Bluemix</li>
							
					</UL>
							  
					 </td>
					<td>
								
							<UL id="ulcontentplan">

							 
							  </UL>	
									
									 </td>
				 </tr>
				 
				  </table>
				  </ul>