<ul id="ulcontent14px">			
				<b>Monthly Session</b>
				<!-- New table start -->
							   
				 <table class="tbstyle">
				      <tr>
				    <td width="10%"><span id="subcontitle">Datetime</span></td>
					 <td width="10%"><span id="subcontitle">Course</span></td>
					 <td width="20%"><span id="subcontitle">Introduction</span></td>
					 </tr>


				      <tr valign="top">
				    <td >
					 	
							<UL id="ulcontentplan">
							<li>05/30 14:00-16:00</li>


							  </UL>
						
					</td>
				    <td >
					 
							 <UL id="ulcontentplan">
				              <li><a href="/speed_kpi_definition_and_gso_project_data_collection">Speed KPI definition and GSO Project Data Collection</li>

				            </UL>
					
					</td>
					<td >
					   
						<UL id="ulcontentplan">
						 <li>
							<b><%= __('EW0044')%></b> Tony Yang<br>
							<b><%= __('EW0045')%></b> ALL<br>
							<b><%= __('EW0046')%></b>To share KPI data input and collection in GSO.
							</li>
				        </UL>
					</td>
					
				  </tr>
				  
				     <tr>
				    <td ><span id="subcontitle"> 08/08 13:00-15:00</span>	</td>
					 <td><span id="subcontitle"> 08/15 14:00-16:00 </span>	</td>
					 <td><span id="subcontitle">Incoming</span>		 </td>
					 </tr>
					 
				  <tr  valign="top">
				    <td>
					
					  <UL id="ulcontentplan">
				              <li><a href="/gb18030">GB18030</li>
							  <li><a href="/how_to_write_wellconveived_technical_documentation">How to Write Well-conveived Technical Documentation</li>
							
							</UL>
						</td>
						 <td>
					<UL id="ulcontentplan">
				              <li><a href="/translation_qality_process">Translation Quality Process</li>
							  <li><a href="/sniff_gvt_for_bluemix">Sniff GVT for Bluemix</li>
							
					</UL>
							  
					 </td>
					<td>
								
							<UL id="ulcontentplan">

							 
							  </UL>	
									
									 </td>
				 </tr>
				 
				  </table>
				  </ul>