








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>Open TM2</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Jia Yu JY Hu/China/IBM(Jeffery)<br>
<b><%= __('EW0045')%></b>  <li>
PMs and File Handlers<br>
<b><%= __('EW0046')%></b><li>
This session will introduce What is OpenTM2, How Do We Work on OpenTM2, the Difference between TM2 and OpenTM2, and the Known Word Count Issues in OpenTM2.<br>
<b>Duration:</b> 
30 minutes
</div>
</div>
</div>
</div>