








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>GVT/TVT project control and support center</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Bruce Liao<br>
<b><%= __('EW0045')%></b>  <li>
Test Lead and TSE and PM who may need reach his/her test machines or TVT testers during TVT/GVT period.<br>
<b><%= __('EW0046')%></b><li>
A new system that helped Test Lead and TSE  access all systems they needed during GVT/TVT  period via a mouse click.<br><li>
How to deploy OS ,Install Pre-Req ,Take snapshot,Revert Snapshot of all TVT locales from 500~1000 steps to one mouse click.<br><li>
How to  login on vsphere server,LA server,VM machine everyday without repeated input id/password during your project period via the new system<br>
<b>Duration:</b> 
30 mins<br>
</div>
</div>
</div>
</div>