 <!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
<!--           <li><a href="">aaaa</a></li>
          
          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
          </ul> 
<h1>Session 2014</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">
<!-- CONTENT_BODY -->


<div id="ibm-content-body">
<div id="ibm-content-main">
		  		
					GSSC offers the following course, click on the course to study
 <p></p>
			 <%- include monthlySessionList%>
				  <br/>
 			 <%- include workshopList%>
 			  <br/>
 			  <%- include gvt&tvtSessionList%>
<br />

	   
			   
</div></div></div></div>

