<div>
<b><%= __('EW0044')%></b><li>
Louis Huang<br>
<b><%= __('EW0045')%></b>  <li>
all GSSC members<br>
<b><%= __('EW0046')%></b><li>
GSSC did a sniff GVT for Bluemix in May. I am here to share the practices to do GVT on a cloud service. Also, the focus point is different from what we did in traditional GVT. Please register your Bluemix account in advance.<li>

<b>Duration</b>:  50min
</div>