







<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>Sniff GVT for Bluemix</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Louis Huang<br>
<b><%= __('EW0045')%></b>  <li>
all GSSC members<br>
<b><%= __('EW0046')%></b><li>
GSSC did a sniff GVT for Bluemix in May. I am here to share the practices to do GVT on a cloud service. Also, the focus point is different from what we did in traditional GVT. Please register your Bluemix account in advance.<li>

<b>Duration</b>:  50min
</div>
</div>
</div>
</div>