
<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>Tips for better doing TVT Go/No-Go Assessment</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Dianne Liu<br>
<b><%= __('EW0045')%></b>  <li>
TVT Leads and PMs<br>
<b><%= __('EW0046')%></b><li>
Overview of Go/No-Go process<li>
Common issues and tips for better doing assessment<li>
Frequent questions asked and answer
</div>
</div>
</div>
</div>