<div>
<b><%= __('EW0044')%></b><li>
Sylvia Lo<br>
<b><%= __('EW0045')%></b>  <li>
PMs<br>
<b><%= __('EW0046')%></b><li>
What’s the quality process GCG TSC running now? We will also make a brief sharing in this session about what makes our translation the way it is, and how we measure the quality.<li>

<b>Duration</b>:  45min
</div>