








<!-- LEADSPACE_BEGIN -->
<div id="ibm-leadspace-head" class="ibm-alternate-background">
<div id="ibm-leadspace-body">
<ul id="ibm-navigation-trail">
          <li class="ibm-first"><a href="">GSSC Education Home</a></li>
          <li><a href="/onlineCourse">Online Course</a></li>
          
 <!--          <li><a href="">bbb</a></li>
         <li><a href="">XXXXX</a></li>
-->         
 </ul> 
<h1>Translation Quality Process</h1>
</div>
</div>
<!-- LEADSPACE_END -->
 <div id="ibm-pcon">
<!-- CONTENT_BEGIN -->
<div id="ibm-content">

 <%- include videoPlayLayout%>

<b><%= __('EW0044')%></b><li>
Sylvia Lo<br>
<b><%= __('EW0045')%></b>  <li>
PMs<br>
<b><%= __('EW0046')%></b><li>
What’s the quality process GCG TSC running now? We will also make a brief sharing in this session about what makes our translation the way it is, and how we measure the quality.<li>

<b>Duration</b>:  45min
</div>
</div>
</div>
</div>