				  <ul id="ulcontent14px">	
				<b>Workshop</b>
					<table class="tbstyle">
					      <tr>
					    <td width="800"><span id="subcontitle">08/20</span></td>
						 <td width="30%"><span id="subcontitle">Incoming</span></td>
						 <td width="800px"><span id="subcontitle">Incoming</span></td>
						 </tr>


					      <tr valign="top">
					    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["workshopopening"]==undefined) records["workshopopening"]=0 %>
					              <li><a href="/workshopopening">Workshop Opening<img src="/img/radio.jpg" class="img-rounded"></a><font color="red">(<%= records["workshopopening"]%>)</font></li>
					         
								 <% if(records["srat_session_1"]==undefined) records["srat_session_1"]=0 %>
					              <li><a href="/srat_session_1">SRAT_Session_1<img src="/img/video.jpg" class="img-rounded"></a><font color="red">(<%= records["srat_session_1"]%>)</font></li>
					              </ol>
					            </UL>
						
						</td>
						<td >
			
						</td>
											<td >
			
						</td>
						
					  </tr>
					  
					     </td>
					 </tr>
					 
					  </table>
				
			</ul>	