				  <ul id="ulcontent14px">	
				<b>AutomationWorkShop</b>
					<table class="tbstyle">
					      <tr>
					      <td width="800"><span id="subcontitle">08/20  14:00-16:00</span></td>
					    <td width="800"><span id="subcontitle">09/03 14:00-16:00 </span></td>
						 <td width="30%"><span id="subcontitle">09/10 14:00-16:00 </</span></td>
						
						 </tr>


					      <tr valign="top">
					      				    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["workshopopening"]==undefined) records["workshopopening"]=0 %>
					              <li><a href="/workshopopening">Auntomation Workshop Opening<img src="/img/radio.jpg" class="img-rounded"></a></li>
					
								 <% if(records["srat_session_1"]==undefined) records["srat_session_1"]=0 %>
					              <li><a href="/srat_session_1">SRAT_Session_1<img src="/img/video.jpg" class="img-rounded"></a></li>
					              </ol>
					            </UL>
						
						</td>
					    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["lotus_auntomator"]==undefined) records["lotus_auntomator"]=0 %>
					              <li><a href="/lotus_auntomator">Lotus Automator<img src="/img/video.jpg" class="img-rounded"></a></li>
					
					              </ol>
					            </UL>
						
						</td>
						<td >
				              <UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["rft_java"]==undefined) records["rft_java"]=0 %>
					              <li><a href="/rft_java">RFT - Java<img src="/img/radio.jpg" class="img-rounded"></a></li>
					
					              </ol>
					            </UL>
						</td>
										
						
					  </tr>
					  <tr>
					   <td width="800px"><span id="subcontitle">09/17 14:00-16:00 </</span></td>
					    <td width="800"><span id="subcontitle">09/24 14:00-16:00 </span></td>
						 <td width="30%"><span id="subcontitle">Incoming </</span></td>
						
						 </tr>


					      <tr valign="top">
					      							<td >
												<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["rft_python"]==undefined) records["rft_python"]=0 %>
					              <li><a href="/rft_python">RFT - Python<img src="/img/video.jpg" class="img-rounded"></a></li>
					
					              </ol>
					            </UL>
			
						</td>
					    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["rft_advanced_techniques"]==undefined) records["rft_advanced_techniques"]=0 %>
					              <li><a href="/rft_advanced_techniques">RFT Advanced Techniques<img src="/img/video.jpg" class="img-rounded"></a></li>
					
					              </ol>
					            </UL>
						
						</td>

						<td >

			
						</td>
						
					  </tr>
					  
					     </td>
					 </tr>
					 
					  </table>
				
			</ul>	
			<br>

							  <ul id="ulcontent14px">	
				<b>ToolsWorkshop</b>
					<table class="tbstyle">
					      <tr>
					    <td width="800"><span id="subcontitle">11/14 14:00-16:00</span></td>
						 <td width="30%"><span id="subcontitle">Incoming</span></td>
						 <td width="800px"><span id="subcontitle">Incoming</span></td>
						 </tr>


					      <tr valign="top">
					    <td >
						 	
								<UL id="ulcontentplan">
								<ol style="margin-left:0px">
								<% if(records["tools_workshop_opening"]==undefined) records["tools_workshop_opening"]=0 %>
					              <li><a href="/tools_workshop_opening">Tool Workshop Opening<img src="/img/video.jpg" class="img-rounded"></a></li>
					
								 <% if(records["tools_workshop_01"]==undefined) records["tools_workshop_01"]=0 %>
					              <li><a href="/tools_workshop_01">Tools workshop 01<img src="/img/video.jpg" class="img-rounded"></a></li>

					               <% if(records["tools_workshop_02"]==undefined) records["tools_workshop_02"]=0 %>
					              <li><a href="/tools_workshop_02">Tools workshop 02<img src="/img/video.jpg" class="img-rounded"></a></li>




					              </ol>
					            </UL>
						
						</td>
						<td >
			
						</td>
											<td >
			
						</td>
						
					  </tr>
					  
					     </td>
					 </tr>
					 
					  </table>
				
			</ul>	